<h1>List of Urls</h1>

<% @urls.each do |u| %>

  <li><%= u.id %>: <a href="/urls/<%= u.id %>" ><%= u.link %></li></a>

<% end %>
</br>

<%= link_to "Create New Hash Code", new_url_path , :class => "btn btn-success" %>
<br>
<hr>
<% @urls.each do |url| %>
<li><%= url.inspect %></li>
 <% end %>