<h1> Add a Url </h1>

<%= form_for @url do |f| %>
  
  <%= label_tag(:link, "Enter Url:") %>
  <%= f.text_field :link,  :class => "form-control" %></br>

  <!-- Submits the @todo object with the inputs to the create method in the TodosController. -->
  <%= f.submit "Create Hash Code", :class => "btn btn-success" %>
<% end %>
<br>
<%= link_to "Home", root_path, :class => "btn btn-primary" %>
<hr>
@url.inspect: <%= @url.inspect %>


